@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-to-bottom-blue {
  border-radius: 630px;
  background: #00FFFF;
  /* background: #00FF7F; */
  filter: blur(299px);
  position: absolute;
  top: 0;
}

.circle-gradient-pink {
  border-radius: 630px;
  background: #FFB6C1;
  /* background: #00FF7F; */
  filter: blur(229px);
  position: absolute;
  bottom: 150px;
}

.circle-gradient-green {
  border-radius: 630px;
  background: #00FA9A;
  /* background: #FFC0CB; */
  filter: blur(250px);
  position: absolute;
  bottom: 150px;
  right: 0;
}

.gradient-to-top-yellow {
  border-radius: 630px;
  background: #FFF8DC;
  /* background: #00FF7F; */
  filter: blur(299px);
  position: absolute;
  bottom: 0;
}

.circle-gradient-dark {
  position: absolute;
  top: 0;
  left: 60px;
  border-radius: 630px;
  background: #7353d2;
  filter: blur(229px);
}

.circle-gradient-blue-dark {
  border-radius: 630px;
  background: #0ea9ff;
  filter: blur(250px);
  position: absolute;
  top: 0;
  right: 0;
}